body {
  padding: 10px;
  font-family: sans-serif;
  background-color: lightblue;
}

.add {
  display: flex;
  justify-content: flex-start;
}

.container {
  width: 50%;
  margin-top: 50px;
}

.list-group-item {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group {
  margin-bottom: 30px;
}

.btn-info {
  margin-left: 10px;
}

.checkstyle {
  text-decoration: line-through;
}